<ul class="nav nav-tabs">
<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
       aria-haspopup="true"
       aria-expanded="false">
        New <span class="caret"></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ url_for('user.new_article',username=current_user.username)}}">Article</a>
    </div>
</li>
<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
       aria-haspopup="true"
       aria-expanded="false">
        Manage <span class="caret"></span>
        {% if unread_comments %}
            <span class="badge badge-success">new</span>
        {% endif %}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ url_for('user.manage_article', username=current_user.username)}}">Article</a>
        <a class="dropdown-item" href="{{ url_for('user.manage_comment', username=current_user.username)}}">Comment</a>
    </div>
</li>
</ul>

